$font-stack: Arial, Helvetica, sans-serif;
//colors

$primary-color: #f01f3c;
$secondary-color: rgb(197, 195, 195);
$overcolor:rgb(107, 95, 95);
$aletter:white;
$bgcolor: #fdd;

//link

a{
    color: $aletter;
    text-decoration: none;
}

//fonts

$font-family-M: "Montserrat";
$font-family-K: "Karla";


