
header {
    
    width: 100%;
  
    .header-content-wrap{
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
        color:white;
        nav a{
            padding: 0 20px;
            line-height: 65px;
            text-align: center;
            font-size: 1.2em;
            color:white;
          
            }
         h1 {
             padding-top:5px;
             font-size: 2rem;
         }   
         ul{
             display:flex;
         }
         
        
    }
       

}

header a:hover,
header a:active,
header a:focus {
  color: $overcolor;
}

